.clients-card{
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 72px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.clients-card::-webkit-scrollbar {
  height: 8px; 

}

.clients-card::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.clients-card::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color); 
}

.clients-card::-webkit-scrollbar-track {
  background-color: var(--secondary-color); 
  border-radius: 10px; 
}

.card-content{
  min-width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  gap: 12px;
}

.card-content span{
  font-size: 1.5rem;
  font-weight: bold;
}

.client-picture{
  width: 104px;
  height: 104px;
}

.client-starts{
  width: 200px;
}

@media (max-width: 600px){
  .card-content{
    min-width: 400px;
    height: 400px;
  }
}

@media (max-width: 450px){
  .card-content{
    min-width: 300px;
    height: 300px;
  }
  .card-content span{
    font-size: 1rem;
  }
  .card-content p{
    font-size: 0.75rem;
  }
  .client-picture{
    height: 64px;
    width: 64px;
  }
  .client-starts{
    width: 120px;
  }
}
